found_wallets.txt
gen_wallets.txt
recovered_wallet.txt

*.db
btc_database.txt
btc_database.tsv
passphrases.txt

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

.env
.venv
pip-log.txt
pip-delete-this-directory.txt

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
